
.banner{
    background-image: url("D:/code/ProjectFrontend/assets/pic/a816367e548d6aab61dcb73cfa8854af38fcac5b.png");
    padding:20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width:1521px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;

}
.Card{
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.containerHome{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding:20px;

}
.Gym img, .Yoga img, .Zumba img  {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.containerStart p{
    font-size:24px;
}
.Gym{
    width: 100%;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.Zumba{
    width: 100%;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.Yoga{
    width: 100%;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.startButton{
    background-color:rgb(53, 158, 238);
    color:white;
    border-radius: 10px;
    padding:10px;
}
.startButton:hover{
    background-color:rgba(52, 211, 255, 0.485);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .containerStart {
        width: 100px;
        height: auto;
        padding: 10px;
    }
    .banner{
        width:450px;
        height:auto;
    }
    .Gym, .Zumba, .Yoga {
        width: 100%;
        height: auto;
    }
    .startButton {
        width: 100%;
        padding: 5px;
    }
    .startButton:hover {
        width: 100%;
        padding: 5px;
    }
    
}
@media screen and (max-width: 1050px) {
    .containerStart {
        width: 400px;
        height: auto;
        padding: 10px;
    }
    .banner{
        width:710px;
        height:auto;
    }
    .Gym, .Zumba, .Yoga {
        display:flex;
        justify-content: center;
        width: 200px;
        height: auto;
    }
    .Card{
        flex-direction: column;
        display:flex;
        width:220px;
        border: 1px solid #000000;
        border-radius: 5px;
        height:auto;
    }
 
    .startButton {
        width: 100%;
        padding: 5px;
    }
    .startButton:hover {
        width: 100%;
        padding: 5px;
    }
    .containerHome{
        display: flex;
        justify-content: space-between;
        gap:10px;
        padding:20px;
    
    }
}